extends ../_template

block variables
    - var title = 'Кандидаты. В работе :::  skilla'
block content
    .cbc
        aside.sidebar
            .sidebar__top
                .sidebar__logo
                    a(href='contract-add-individual.html')
                        img(src='assets/img/logo.svg' alt='')
                button.sidebar__toggle.toggle-sidebar
                    img(src='assets/img/burger-open.svg' alt='')
            .sidebar__user
                .sb-user
                    .sb-user__wrap
                        figure.sb-user__ava
                            img(src='assets/userfiles/uploads/img-logo.png' alt='')
                        .sb-user__info
                            .sb-user__name Снежана Бабичева
                            .sb-user__contacts
                                | hi@skilla.ru
                                br
                                | 8 (800) 333-17-21
                    .sb-user__popup.user-popup
                        .user-popup__name Анатолий Квирая
                        .user-popup__post Менеджер
                        .user-popup__contacts
                            | 8 800 775-63-17
                            br
                            |                            T.Kviraja@skilla.ru
                        .user-popup__info
                            | ИП Упоров К.А.
                            br
                            |                            Санкт-Петербург
                        .user-popup__nav.user-nav
                            .user-nav__item
                                a.user-nav__link(href='#') Выйти
            .sidebar__wrap
                .side-nav
                    .side-nav__item
                        a.side-nav__link.sn-link.active(href='#')
                            span.sn-link__icon
                                img(src='assets/img/new/vector.svg' alt='')
                            span.sn-link__title Расписание
                    .side-nav__item
                        a.side-nav__link.sn-link(href='#')
                            span.sn-link__icon
                                img(src='assets/img/new/vector-1.svg' alt='')
                            span.sn-link__title Кандидаты
                            span.sn-link__label.sn-link__label--yellow
                    .side-nav__item
                        a.side-nav__link.sn-link(href='#')
                            span.sn-link__icon
                                img(src='assets/img/new/vector-2.svg' alt='')
                            span.sn-link__title Звонки
                    .side-nav__item
                        a.side-nav__link.sn-link(href='#')
                            span.sn-link__icon
                                img(src='assets/img/new/vector-3.svg' alt='')
                            span.sn-link__title Стажеры
                    .side-nav__item
                        a.side-nav__link.sn-link(href='#')
                            span.sn-link__icon
                                img(src='assets/img/new/vector-4.svg' alt='')
                            span.sn-link__title Настройки
                .side__add
                    + sidebar

        main.page-content
            .page-content__wrap
                .white-box
                    .anketa
                        h1.anketa__head_h1 Войкова Виолета Геннадьевна
                        .anketa__head Вопросы для HR (не задавать кандидату!)
                        .anketa__head Чувствует ли кандидат себя комфортно?
                        .anketa__block
                            .anketa__block-item.w50.select
                                .anketa__block-item-text-icon
                                    svg(width='13' height='16' viewBox='0 0 13 16' fill='#ADBFDF' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M10.9225 5.74992H7.59913C7.30854 5.74992 7.16297 5.55601 7.11408 5.47252C7.06519 5.38957 6.96631 5.1682 7.10694 4.91441L8.27863 2.80448C8.53571 2.34251 8.56207 1.79924 8.35169 1.31419C8.1413 0.828591 7.72601 0.476479 7.2124 0.348489L6.38623 0.141945C6.18518 0.0914082 5.97204 0.155678 5.83197 0.311135L1.34625 5.29454C0.880981 5.81254 0.625 6.48051 0.625 7.17594V13.0624C0.625 14.6131 1.88678 15.8749 3.4375 15.8749L9.03339 15.8744C10.2968 15.8744 11.4125 15.0235 11.7459 13.8056L12.9467 8.29489C12.9819 8.14163 13 7.98453 13 7.82742C13 6.68209 12.0678 5.74991 10.9225 5.74991L10.9225 5.74992Z' fill='')
                                .anketa__block-item-text Не напрягается, улыбается, выглядит искренним,  смеется, шутит над собой, со всеми вежлив.
                            .anketa__block-item.w50
                                .anketa__block-item-text-icon
                                    svg(width='18' height='17' viewBox='0 0 18 17' fill='#ADBFDF' xmlns='http://www.w3.org/2000/svg')
                                        g(clip-path='url(#clip0)')
                                            path(d='M18 11.25L18 2.25C18 1.62872 17.4963 1.125 16.875 1.125L13.5 1.125L13.5 12.375L16.875 12.375C17.4963 12.375 18 11.8713 18 11.25Z' fill='')
                                            path(d='M2.07751 11.1251L5.40087 11.1251C5.69146 11.1251 5.83703 11.319 5.88592 11.4025C5.93481 11.4854 6.03369 11.7068 5.89306 11.9606L4.72137 14.0705C4.46429 14.5325 4.43793 15.0758 4.64831 15.5608C4.8587 16.0464 5.27399 16.3985 5.7876 16.5265L6.61377 16.7331C6.81482 16.7836 7.02796 16.7193 7.16803 16.5639L11.6537 11.5805C12.119 11.0625 12.375 10.3945 12.375 9.69906L12.375 3.81259C12.375 2.26187 11.1132 1.00009 9.5625 1.00009L3.96662 1.00064C2.70318 1.00064 1.58752 1.85153 1.25409 3.06937L0.0532911 8.58011C0.0181348 8.73337 7.36282e-06 8.89047 7.34909e-06 9.04758C7.24896e-06 10.1929 0.932197 11.1251 2.07752 11.1251L2.07751 11.1251Z' fill='')
                                                    defs
                                                        clippath#clip0
                                                            rect(width='18' height='17' fill='white' transform='translate(18 17) rotate(-180)')

                                .anketa__block-item-text Нервничает, ведет себя тревожно, теребит ручку, у него дрожат руки, голос, сбивается речь, бледнеет или краснеет лицо, показывает признаки агрессии, сообщает, что чувствует себя некомфортно из-за стресса от интервью.
                        .anketa__head Улыбается ли кандидат при общении?
                        .anketa__block
                            .anketa__block-item.w50.select
                                .anketa__block-item-text-icon
                                    svg(width='13' height='16' viewBox='0 0 13 16' fill='#ADBFDF' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M10.9225 5.74992H7.59913C7.30854 5.74992 7.16297 5.55601 7.11408 5.47252C7.06519 5.38957 6.96631 5.1682 7.10694 4.91441L8.27863 2.80448C8.53571 2.34251 8.56207 1.79924 8.35169 1.31419C8.1413 0.828591 7.72601 0.476479 7.2124 0.348489L6.38623 0.141945C6.18518 0.0914082 5.97204 0.155678 5.83197 0.311135L1.34625 5.29454C0.880981 5.81254 0.625 6.48051 0.625 7.17594V13.0624C0.625 14.6131 1.88678 15.8749 3.4375 15.8749L9.03339 15.8744C10.2968 15.8744 11.4125 15.0235 11.7459 13.8056L12.9467 8.29489C12.9819 8.14163 13 7.98453 13 7.82742C13 6.68209 12.0678 5.74991 10.9225 5.74991L10.9225 5.74992Z' fill='')
                                .anketa__block-item-text Да
                            .anketa__block-item.w50
                                .anketa__block-item-text-icon
                                    svg(width='18' height='17' viewBox='0 0 18 17' fill='#ADBFDF' xmlns='http://www.w3.org/2000/svg')
                                        g(clip-path='url(#clip0)')
                                            path(d='M18 11.25L18 2.25C18 1.62872 17.4963 1.125 16.875 1.125L13.5 1.125L13.5 12.375L16.875 12.375C17.4963 12.375 18 11.8713 18 11.25Z' fill='')
                                            path(d='M2.07751 11.1251L5.40087 11.1251C5.69146 11.1251 5.83703 11.319 5.88592 11.4025C5.93481 11.4854 6.03369 11.7068 5.89306 11.9606L4.72137 14.0705C4.46429 14.5325 4.43793 15.0758 4.64831 15.5608C4.8587 16.0464 5.27399 16.3985 5.7876 16.5265L6.61377 16.7331C6.81482 16.7836 7.02796 16.7193 7.16803 16.5639L11.6537 11.5805C12.119 11.0625 12.375 10.3945 12.375 9.69906L12.375 3.81259C12.375 2.26187 11.1132 1.00009 9.5625 1.00009L3.96662 1.00064C2.70318 1.00064 1.58752 1.85153 1.25409 3.06937L0.0532911 8.58011C0.0181348 8.73337 7.36282e-06 8.89047 7.34909e-06 9.04758C7.24896e-06 10.1929 0.932197 11.1251 2.07752 11.1251L2.07751 11.1251Z' fill='')
                                                    defs
                                                        clippath#clip0
                                                            rect(width='18' height='17' fill='white' transform='translate(18 17) rotate(-180)')
                                .anketa__block-item-text Нет

                        .anketa__head Верите ли вы, что кандидат искренне отвечал на вопросы?
                        .anketa__block
                            .anketa__block-item.w50
                                .anketa__block-item-text-icon
                                    svg(width='13' height='16' viewBox='0 0 13 16' fill='#ADBFDF' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M10.9225 5.74992H7.59913C7.30854 5.74992 7.16297 5.55601 7.11408 5.47252C7.06519 5.38957 6.96631 5.1682 7.10694 4.91441L8.27863 2.80448C8.53571 2.34251 8.56207 1.79924 8.35169 1.31419C8.1413 0.828591 7.72601 0.476479 7.2124 0.348489L6.38623 0.141945C6.18518 0.0914082 5.97204 0.155678 5.83197 0.311135L1.34625 5.29454C0.880981 5.81254 0.625 6.48051 0.625 7.17594V13.0624C0.625 14.6131 1.88678 15.8749 3.4375 15.8749L9.03339 15.8744C10.2968 15.8744 11.4125 15.0235 11.7459 13.8056L12.9467 8.29489C12.9819 8.14163 13 7.98453 13 7.82742C13 6.68209 12.0678 5.74991 10.9225 5.74991L10.9225 5.74992Z' fill='')
                                .anketa__block-item-text В целом да.
                            .anketa__block-item.w50.select
                                .anketa__block-item-text-icon
                                    svg(width='18' height='17' viewBox='0 0 18 17' fill='#ADBFDF' xmlns='http://www.w3.org/2000/svg')
                                        g(clip-path='url(#clip0)')
                                            path(d='M18 11.25L18 2.25C18 1.62872 17.4963 1.125 16.875 1.125L13.5 1.125L13.5 12.375L16.875 12.375C17.4963 12.375 18 11.8713 18 11.25Z' fill='')
                                            path(d='M2.07751 11.1251L5.40087 11.1251C5.69146 11.1251 5.83703 11.319 5.88592 11.4025C5.93481 11.4854 6.03369 11.7068 5.89306 11.9606L4.72137 14.0705C4.46429 14.5325 4.43793 15.0758 4.64831 15.5608C4.8587 16.0464 5.27399 16.3985 5.7876 16.5265L6.61377 16.7331C6.81482 16.7836 7.02796 16.7193 7.16803 16.5639L11.6537 11.5805C12.119 11.0625 12.375 10.3945 12.375 9.69906L12.375 3.81259C12.375 2.26187 11.1132 1.00009 9.5625 1.00009L3.96662 1.00064C2.70318 1.00064 1.58752 1.85153 1.25409 3.06937L0.0532911 8.58011C0.0181348 8.73337 7.36282e-06 8.89047 7.34909e-06 9.04758C7.24896e-06 10.1929 0.932197 11.1251 2.07752 11.1251L2.07751 11.1251Z' fill='')
                                                    defs
                                                        clippath#clip0
                                                            rect(width='18' height='17' fill='white' transform='translate(18 17) rotate(-180)')
                                .anketa__block-item-text Больше нет, чем да.

                        .anketa__result
                            .anketa-result
                                .anketa-result__icon
                                    img(src='assets/img/new/cand_bad.svg')
                                .anketa-result__title Кандидат нам не подходит
                                .anketa-result__info Релевантных ответов более 70%
                                .anketa-result__stat
                                    .anketa-stat
                                        .anketa-stat__item
                                            .anketa-stat__icon
                                                svg(width='13' height='16' viewBox='0 0 13 16' fill='#0091EA' xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M10.9225 5.74992H7.59913C7.30854 5.74992 7.16297 5.55601 7.11408 5.47252C7.06519 5.38957 6.96631 5.1682 7.10694 4.91441L8.27863 2.80448C8.53571 2.34251 8.56207 1.79924 8.35169 1.31419C8.1413 0.828591 7.72601 0.476479 7.2124 0.348489L6.38623 0.141945C6.18518 0.0914082 5.97204 0.155678 5.83197 0.311135L1.34625 5.29454C0.880981 5.81254 0.625 6.48051 0.625 7.17594V13.0624C0.625 14.6131 1.88678 15.8749 3.4375 15.8749L9.03339 15.8744C10.2968 15.8744 11.4125 15.0235 11.7459 13.8056L12.9467 8.29489C12.9819 8.14163 13 7.98453 13 7.82742C13 6.68209 12.0678 5.74991 10.9225 5.74991L10.9225 5.74992Z' fill='')
                                            .anketa-stat__count 24
                                        .anketa-stat__item
                                            .anketa-stat__icon
                                                svg(width='18' height='17' viewBox='0 0 18 17' fill='#D91818' xmlns='http://www.w3.org/2000/svg')
                                                    g(clip-path='url(#clip0)')
                                                        path(d='M18 11.25L18 2.25C18 1.62872 17.4963 1.125 16.875 1.125L13.5 1.125L13.5 12.375L16.875 12.375C17.4963 12.375 18 11.8713 18 11.25Z' fill='')
                                                        path(d='M2.07751 11.1251L5.40087 11.1251C5.69146 11.1251 5.83703 11.319 5.88592 11.4025C5.93481 11.4854 6.03369 11.7068 5.89306 11.9606L4.72137 14.0705C4.46429 14.5325 4.43793 15.0758 4.64831 15.5608C4.8587 16.0464 5.27399 16.3985 5.7876 16.5265L6.61377 16.7331C6.81482 16.7836 7.02796 16.7193 7.16803 16.5639L11.6537 11.5805C12.119 11.0625 12.375 10.3945 12.375 9.69906L12.375 3.81259C12.375 2.26187 11.1132 1.00009 9.5625 1.00009L3.96662 1.00064C2.70318 1.00064 1.58752 1.85153 1.25409 3.06937L0.0532911 8.58011C0.0181348 8.73337 7.36282e-06 8.89047 7.34909e-06 9.04758C7.24896e-06 10.1929 0.932197 11.1251 2.07752 11.1251L2.07751 11.1251Z' fill='')
                                                                defs
                                                                    clippath#clip0
                                                                        rect(width='18' height='17' fill='white' transform='translate(18 17) rotate(-180)')
                                            .anketa-stat__count 10
                                        .anketa-stat__item
                                            .anketa-stat__icon
                                                svg(width='18' height='17' viewBox='0 0 18 17' fill='#ADBFDF' xmlns='http://www.w3.org/2000/svg')
                                                    g(clip-path='url(#clip0)')
                                                        path(d='M18 11.25L18 2.25C18 1.62872 17.4963 1.125 16.875 1.125L13.5 1.125L13.5 12.375L16.875 12.375C17.4963 12.375 18 11.8713 18 11.25Z' fill='')
                                                        path(d='M2.07751 11.1251L5.40087 11.1251C5.69146 11.1251 5.83703 11.319 5.88592 11.4025C5.93481 11.4854 6.03369 11.7068 5.89306 11.9606L4.72137 14.0705C4.46429 14.5325 4.43793 15.0758 4.64831 15.5608C4.8587 16.0464 5.27399 16.3985 5.7876 16.5265L6.61377 16.7331C6.81482 16.7836 7.02796 16.7193 7.16803 16.5639L11.6537 11.5805C12.119 11.0625 12.375 10.3945 12.375 9.69906L12.375 3.81259C12.375 2.26187 11.1132 1.00009 9.5625 1.00009L3.96662 1.00064C2.70318 1.00064 1.58752 1.85153 1.25409 3.06937L0.0532911 8.58011C0.0181348 8.73337 7.36282e-06 8.89047 7.34909e-06 9.04758C7.24896e-06 10.1929 0.932197 11.1251 2.07752 11.1251L2.07751 11.1251Z' fill='')
                                                                defs
                                                                    clippath#clip0
                                                                        rect(width='18' height='17' fill='white' transform='translate(18 17) rotate(-180)')
                                            .anketa-stat__count 1
                        .forms__field
                            textarea.anketa__comment.textarea-auto-h(type='text' value='' onkeyup="textarea_resize(event, 15, 4);" placeholder='Комментарий о кандидате' cols='10' rows='60' )
                        .forms-buttons
                            button.button Сохранить и завершить
