extends ../_template

block variables
    - var title = 'Стажеры В процессе :::  skilla'
block content
    .cbc
        aside.sidebar
            .sidebar__top
                .sidebar__logo
                    a(href='contract-add-individual.html')
                        img(src='assets/img/logo.svg' alt='')
                button.sidebar__toggle.toggle-sidebar
                    img(src='assets/img/burger-open.svg' alt='')
            .sidebar__user
                .sb-user
                    .sb-user__wrap
                        figure.sb-user__ava
                            img(src='assets/userfiles/uploads/img-logo.png' alt='')
                        .sb-user__info
                            .sb-user__name Снежана Бабичева
                            .sb-user__contacts
                                | hi@skilla.ru
                                br
                                | 8 (800) 333-17-21
                    .sb-user__popup.user-popup
                        .user-popup__name Анатолий Квирая
                        .user-popup__post Менеджер
                        .user-popup__contacts
                            | 8 800 775-63-17
                            br
                            |                            T.Kviraja@skilla.ru
                        .user-popup__info
                            | ИП Упоров К.А.
                            br
                            |                            Санкт-Петербург
                        .user-popup__nav.user-nav
                            .user-nav__item
                                a.user-nav__link(href='#') Выйти
            .sidebar__wrap
                .side-nav
                    .side-nav__item
                        a.side-nav__link.sn-link.active(href='#')
                            span.sn-link__icon
                                img(src='assets/img/new/vector.svg' alt='')
                            span.sn-link__title Расписание
                    .side-nav__item
                        a.side-nav__link.sn-link(href='#')
                            span.sn-link__icon
                                img(src='assets/img/new/vector-1.svg' alt='')
                            span.sn-link__title Кандидаты
                            span.sn-link__label.sn-link__label--yellow
                    .side-nav__item
                        a.side-nav__link.sn-link(href='#')
                            span.sn-link__icon
                                img(src='assets/img/new/vector-2.svg' alt='')
                            span.sn-link__title Звонки
                    .side-nav__item
                        a.side-nav__link.sn-link(href='#')
                            span.sn-link__icon
                                img(src='assets/img/new/vector-3.svg' alt='')
                            span.sn-link__title Стажеры
                    .side-nav__item
                        a.side-nav__link.sn-link(href='#')
                            span.sn-link__icon
                                img(src='assets/img/new/vector-4.svg' alt='')
                            span.sn-link__title Настройки
                .side__add
                    a(href='#').btn-add
                        .btn-add__span Добавить кандидата

        main.page-content
            .page-content__wrap
                .page-header
                    .tab-list
                        .tab-list__item
                            a.tab-item(href='#')
                                span.tab-item__title Стажеры

                        .tab-list__item
                            a.tab-item.tab-item--active(href='#')
                                span.tab-item__title В процессе
                                span.tab-item__count 68
                        .tab-list__item
                            a.tab-item(href='#')
                                span.tab-item__title Успешно прошедшие
                        .tab-list__item
                            a.tab-item(href='#')
                                span.tab-item__title Не прошедшие


                    .search
                        .search__form
                            input.search__text(type='text' value='')
                            button.search__button.fi.icon-search
                        span.search__open.fi.icon-search.js-open-search-form
                .white-box
                    table.tbl
                        tbody
                            tr.head__tr
                                th
                                th.tbl-col__client.tbl-col__client_mod
                                    .col-name Стажер
                                    .drop-list(data-title-replace='true')
                                        .drop-list__title Вакансия
                                        ul.drop-list__dropdown.dl-dropdown
                                            li.dl-dropdown__item.active
                                                a(href='#') Все
                                            li.dl-dropdown__item
                                                a(href='#') Менеджер
                                            li.dl-dropdown__item
                                                a(href='#') Руководитель отдела продаж
                                            li.dl-dropdown__item
                                                a(href='#') Разработчик
                                            li.dl-dropdown__item
                                                a(href='#') Менеджер по работе с клиентами

                                th
                                    .drop-list
                                        .drop-list__title Дата интервью
                                        ul.drop-list__dropdown.dl-dropdown
                                            li.dl-dropdown__item.active
                                                a(href='#') Все
                                            li.dl-dropdown__item
                                                a(href='#') Вчера
                                            li.dl-dropdown__item
                                                a(href='#') Сегодня
                                            li.dl-dropdown__item
                                                a(href='#') Месяц
                                            li.dl-dropdown__date.dropdown-date
                                                .dropdown-date__title Указать даты
                                                .dropdown-date__form.date-range(data-close-dropdown='true')
                                                    .date-range__input
                                                        input.date-start(type='text' value='' placeholder='__.__.__' disabled='')
                                                    .date-range__sepor –
                                                    .date-range__input
                                                        input.date-finish(type='text' value='' placeholder='__.__.__' disabled='')
                                                    input.range-datepicker.date-range__datepicker(type='text' data-range='true' name='date' autocomplete='off')




                                th
                                    .drop-list(data-title-replace='true')
                                        .drop-list__title Кто проводил
                                        ul.drop-list__dropdown.dl-dropdown
                                            li.dl-dropdown__item.active
                                                a(href='#') Все
                                            li.dl-dropdown__item
                                                a(href='#') Бабичева Снежана
                                            li.dl-dropdown__item
                                                a(href='#') Корчагина Юля
                                            li.dl-dropdown__item
                                                a(href='#') Бабичева Снежана
                                            li.dl-dropdown__item
                                                a(href='#') Ассистент Ассистентов
                                th Время интервью
                                th
                                    .drop-list
                                        .drop-list__title Выход на стажировку
                                        ul.drop-list__dropdown.dl-dropdown
                                            li.dl-dropdown__item.active
                                                a(href='#') Все
                                            li.dl-dropdown__item
                                                a(href='#') Вчера
                                            li.dl-dropdown__item
                                                a(href='#') Сегодня
                                            li.dl-dropdown__item
                                                a(href='#') Месяц
                                            li.dl-dropdown__date.dropdown-date
                                                .dropdown-date__title Указать даты
                                                .dropdown-date__form.date-range(data-close-dropdown='true')
                                                    .date-range__input
                                                        input.date-start(type='text' value='' placeholder='__.__.__' disabled='')
                                                    .date-range__sepor –
                                                    .date-range__input
                                                        input.date-finish(type='text' value='' placeholder='__.__.__' disabled='')
                                                    input.range-datepicker.date-range__datepicker(type='text' data-range='true' name='date' autocomplete='off')
                                th Примечание


                            tr.row-link(data-link='')
                                td
                                td.tbl__client
                                    .tbl-client
                                        .tbl-client__title Сафронов Иван
                                            span.tbl-client__time 45 лет
                                    .vac__name Менеджер по продажам
                                td.stagers-dates
                                    .stagers-dates__item 12.12.2020
                                    .stagers-dates__item 25.01.2020
                                td Бабичева Снежана
                                td 20 мин
                                td.stagers-date вчера
                                td.stagers-info Хороший кандидат, идеально подходит, хотим, чтобы остался.
                                td
                                    .stagers-buts
                                        a.button.stagers-buts__start(href='#') Перевести в штат
                                        a.button.stagers-buts__back(href='#') Отказать
                            tr.row-link(data-link='')
                                td
                                td.tbl__client
                                    .tbl-client
                                        .tbl-client__title Сафронов Иван
                                            span.tbl-client__time 45 лет
                                    .vac__name Менеджер по продажам
                                td.stagers-dates
                                    .stagers-dates__item 12.12.2020
                                    .stagers-dates__item 25.01.2020
                                td Бабичева Снежана
                                td 20 мин
                                td.stagers-date вчера
                                td.stagers-info Хороший кандидат, идеально подходит, хотим, чтобы остался.
                                td
                                    .stagers-buts
                                        a.button.stagers-buts__start(href='#') Перевести в штат
                                        a.button.stagers-buts__back(href='#') Отказать
                            tr.row-link(data-link='')
                                td
                                td.tbl__client
                                    .tbl-client
                                        .tbl-client__title Сафронов Иван
                                            span.tbl-client__time 45 лет
                                    .vac__name Менеджер по продажам
                                td.stagers-dates
                                    .stagers-dates__item 12.12.2020
                                    .stagers-dates__item 25.01.2020
                                td Бабичева Снежана
                                td 20 мин
                                td.stagers-date 12 мар
                                td.stagers-info Хороший кандидат, идеально подходит, хотим, чтобы остался.
                                td
                                    .stagers-buts
                                        a.button.stagers-buts__start(href='#') Перевести в штат
                                        a.button.stagers-buts__back(href='#') Отказать
                            tr.row-link(data-link='')
                                td
                                td.tbl__client
                                    .tbl-client
                                        .tbl-client__title Сафронов Иван
                                            span.tbl-client__time 45 лет
                                    .vac__name Менеджер по продажам
                                td.stagers-dates
                                    .stagers-dates__item 12.12.2020
                                    .stagers-dates__item 25.01.2020
                                td Бабичева Снежана
                                td 20 мин
                                td.stagers-date 1 фев
                                td.stagers-info Хороший кандидат, идеально подходит, хотим, чтобы остался.
                                td
                                    .stagers-buts
                                        a.button.stagers-buts__start(href='#') Перевести в штат
                                        a.button.stagers-buts__back(href='#') Отказать
                            tr.row-link(data-link='')
                                td
                                td.tbl__client
                                    .tbl-client
                                        .tbl-client__title Сафронов Иван
                                            span.tbl-client__time 45 лет
                                    .vac__name Менеджер по продажам
                                td.stagers-dates
                                    .stagers-dates__item 12.12.2020
                                    .stagers-dates__item 25.01.2020
                                td Бабичева Снежана
                                td 20 мин
                                td.stagers-date вчера
                                td.stagers-info Хороший кандидат, идеально подходит, хотим, чтобы остался.
                                td
                                    .stagers-buts
                                        a.button.stagers-buts__start(href='#') Перевести в штат
                                        a.button.stagers-buts__back(href='#') Отказать
                            tr.row-link(data-link='')
                                td
                                td.tbl__client
                                    .tbl-client
                                        .tbl-client__title Сафронов Иван
                                            span.tbl-client__time 45 лет
                                    .vac__name Менеджер по продажам
                                td.stagers-dates
                                    .stagers-dates__item 12.12.2020
                                    .stagers-dates__item 25.01.2020
                                td Бабичева Снежана
                                td 20 мин
                                td.stagers-date вчера
                                td.stagers-info Хороший кандидат, идеально подходит, хотим, чтобы остался.
                                td
                                    .stagers-buts
                                        a.button.stagers-buts__start(href='#') Перевести в штат
                                        a.button.stagers-buts__back(href='#') Отказать
                            